@model Neibour.Models.Ads
@{
    ViewData["Title"] = "ADS_with_search";
}
<style type="text/css">


    .ads_name {
        margin-left: auto;
        margin-right: auto;
        width: 20em
    }

    .ads_title {
        margin-left: auto;
        margin-right: auto;
        width: 20em
    }

    .ads_des {
        margin-left: auto;
        margin-right: auto;
        width: 20em
    }

    .div_ad {
        text-align: center;
    }

    .ads_cost {
        margin-left: auto;
        margin-right: auto;
        width: 20em;
        font-weight: bold;
        color: #57ba3a;
    }
            button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    button:hover, a:hover {
        opacity: 0.7;
    }

    .menu {
        position: absolute;
        padding: 0;
        display: flex;
    }

    .menu li {
        position: relative;
        list-style: none;
    }

    .menu li a {
        position: relative;
        display: block;
        color: cornflowerblue;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: .5s;
        box-sizing: border-box;
    }

    .menu li a span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: cornflowerblue;
        z-index: -1;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .5s;
    }
    .prof_space {
        margin-top: 25px;
    }
    .menu li a:hover {
        color: #fff;
        text-decoration: none;
    }

    .menu li a:hover span {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    .menu li a span:nth-child(1) {
        left: 0;
        transition-delay: 0s;
    }

    .menu li a span:nth-child(2) {
        left: 25%;
        transition-delay: 0.15s;
    }

    .menu li a span:nth-child(3) {
        left: 50%;
        transition-delay: 0.3s;
    }

    .menu li a span:nth-child(4) {
        left: 75%;
        transition-delay: 0.45s;
    }
    .footer_space {
        margin-bottom:40px;
    }
    .header_space {
        margin-top:40px;
    }
</style>
<h1  style="text-align:center; margin-bottom:15px;">Moї оголошення</h1>
<div style="position:relative;left:775px;top:-18px">
    <ul class="menu">
        <li>
            <div class="item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">
                    Повернутися назад до профілю
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </li>
    </ul>
</div>
<div style="position:relative;top:57px">
@foreach (var item in ViewBag.data)
{
    <div id="profile" class="div_ad">
        <div>
            @if (item.Image1 != null)
            {

                <img style='width:180px; height:120px;data-holder-rendered="true"' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image1))" />

            }
            else if (item.Image2 != null)
            {
                <img style='width:180px; height:120px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image2))" />

            }
            else if (item.Image3 != null)
            {
                <img style='width:180px; height:120px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image3))" />

            }
            else
            {
                <img src="~/css/nophoto.jpg" style="width:180px; height:120px;">

            }
        </div>
        <h1 class="ads_title">@item.Title</h1>
        <div class="ads_des">Опис: @item.Description</div>
        <p class="ads_cost">Ціна: @item.Cost гривень/місяць</p>

        <a asp-action="Watch" asp-controller="User" asp-route-id="@item.Id_ad">Подробнее</a> |
        <a asp-action="Edit_my_ad" asp-controller="User" asp-route-id="@item.Id_ad">Изменить</a> |
        <a asp-action="Delete" asp-controller="User" asp-route-id="@item.Id_ad">Удалить</a>
        <hr noshade size="3" width="35%">
    </div>
}
</div>




